<footer class="page-footer">
	<div class="container">
		<div class="row">
			<div class="col l6 s12">

				<h5 class="white-text">联系别人家</h5>
				<p class="grey-text text-lighten-4">快来戳我扣扣419422534</p>
				<p class="grey-text text-lighten-4">首页大图暂时使用倩女2官网的，然而并非所愿，如果您愿意提供原创图，别人家感激不尽</p>
				<ul>
					<li><a class="grey-text text-lighten-3" href="#!">邮箱：yemanhuli@yeah.net</a></li>
					<li><a class="grey-text text-lighten-3">反馈</a></li>
				</ul>
			</div>
			<div class="col l4 offset-l2 s12>
				<h5 class="white-text">构建基石</h5>
				<ul>
					<li><a class="grey-text text-lighten-3" href="#!">前端源码</a></li>
					<li><a class="grey-text text-lighten-3" href="#!">服务端源码</a></li>
					<li><a class="grey-text text-lighten-3" href="#!">materializecss</a></li>
					<li><a class="grey-text text-lighten-3" href="#!">echarts</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="footer-copyright">
		<div class="container">
			© 2016 版权所有 保留logo及本站名称的权利 <a class="grey-text text-lighten-4 right"
				href="#!">首页背景来自倩女幽魂官网</a>
		</div>
	</div>
	<!-- 回到顶部工具箱 -->
<div class="fixed-action-btn hide-on-small-only"
	style="bottom: 45px; right: 24px;">
	<a class="btn-floating btn-large deep-purple lighten-4"> <i
		class="large mdi-navigation-menu">mode_edit</i>
	</a>
	<ul>
		<li><a class="btn-floating teal lighten-5"><i class="material-icons">insert_chart</i></a></li>
		<li><a class="btn-floating teal lighten-4"><i
				class="material-icons">format_quote</i></a></li>
		<li><a class="btn-floating teal lighten-3"><i class="material-icons">publish</i></a></li>
		<li><a class="btn-floating teal lighten-2"><i class="material-icons">attach_file</i></a></li>
	</ul>
</div>
</footer>

<!--Import jQuery before materialize.js-->
<script src="${root}/js/jquery-2.1.3.min.js"></script>
<script src="${root}/js/jquery.loadTemplate-1.5.7.min.js"></script>
<script src="${root}/js/echarts.min.js"></script>
<script src="${root}/js/materialize.min.js"></script>
<script src="${root}/js/qnyh.js"></script>